*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: white;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons{
    margin: 30px 0;
    display: flex;
    gap: 40px;
    
}
button{
    padding: 10px;
    font-size: 55px;
    cursor: pointer;
    border: none;
    border-radius: 10px;

}
button:hover{
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
    font-size: 27px;
    
}
#rock:hover{
   background: cadetblue;
}

#scissors:hover{
   background: red;
}
#paper:hover{
   background: yellowgreen;
}
p{
    font-weight: bold;
    margin-bottom: 10px;
}
.your-score span{
    color: blue;
}
.machine-score span{
    color: orangered;
}
.escolhahuman{
    color: blue;
}
.escolhamachine{
    color: orangered;
}

@media screen and (max-width:600px){
     .buttons{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
}
}